<launch>

  <!-- <node pkg="razor_imu_9dof" type="display_3D_visualization.py" name="display_3D_visualization_node_raw" output="screen">
       <remap from="imu" to="imu/data/raw" />
  </node> -->
  <node pkg="razor_imu_9dof" type="display_3D_visualization.py" name="display_3D_visualization_node_filtered" output="screen">
       <remap from="imu" to="imu/data/filtered" />
  </node>

</launch>
